WP_TITLE=
WP_CACHE_KEY_SALT=login.42.fr

WP_ADMIN_USER=user
WP_ADMIN_PASSWORD=adminpassword
WP_ADMIN_EMAIL=login@42.fr
WP_DB_HOST=mariadb
WP_DB_CHARSET=utf8

DB_NAME=inception_db
DB_USER=user42
DB_PASSWORD=secretpassword
DB_ROOT_PASSWORD=rootsecretpassword

WP_USER=evaluator
WP_USER_PASSWORD=evaluatorpassword
WP_USER_EMAIL=evaluator@42.fr

FTP_USER=ftpuser
FTP_PASSWORD=ftppassword

WP_REDIS_HOST=redis
WP_REDIS_PORT=6379
